<p>
</p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @picture.images.each do |image|%>
    <div class="col">
      <div class="card h-100">
        <%= image_tag(image, class:'card-img') %>
        <div class="card-body">
        <%= link_to 'Delete', @picture, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div> 
      </div>
    </div>
  <% end %>
  </div>
<p>

</p>
<%= link_to 'Back', pictures_path %>