<footer class="footer">
    <small>
        Check out <a href="https://github.com/noah40povis">Noah's github</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", '#' %></li>
            <li><%= link_to "Contact", 'noah.povis@gmail.com' %></li>
            
        </ul>
    </nav>
</footer>